<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
      <property name="connection.driver_class">com.mysql.
        cj.jdbc.Driver</property>
        <!-- Database URL -->
 <property name="connection.url">jdbc:mysql://localh
            ost/database</property>
        <!-- MySQL 8 dialect -->
 <property name="dialect">org.hibernate.dialect.MySQ
            L8Dialect</property>
        <!-- Database credentials -->
 <property name="connection.username">root</property>
 <property
            name="connection.password">password</property>
        <!-- Other optional settings -->
 <property
            name="connection.pool_size">3</property>
 <property name="current_session_context_class">thre
        ad</property>
 <property name="show_sql">true</property>
 <property name="format_sql">true</property>
 <property
            name="hbm2ddl.auto">update</property>
        <!-- Mapping class (example.hbm.xml) -->
        <!-- <mapping class="com.javacodegeeks.example.Ite
m"/> -->
    </session-factory>
</hibernate-configuration>